.container {
  display: flex;
  flex-direction: column;
}

.containerProfile {
  display: flex;
  align-items: flex-start;
  gap: 50px;
}

.profileInformation {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.profileUsername {
  display: flex;
  gap: 10px;
}

.profileStats {
  display: flex;
  gap: 40px;
}